<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • Login SSO</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<footer class="info">
			<p>Created by Khalid Arsa</p>
			<p>Part of Login SSO></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">PassportJs</a></p>
		</footer>
	</body>
</html>
